.realm {
  background-color: #6E60F9;
}

.dagger {
  background-color: #487fb9;
}

.native {
  background-color: #414141;
}

.react {
  background-color: #61dafb;
}

.redux {
  background-color: #6F45BA;
}

.node {
  background-color: #43853d;
}

.mocha {
  background-color: #c29d7f;
}

.cunit {
  background-color: rgb(193, 152, 251);
}